<p id="notice"><%= notice %></p>

<p>
  <strong>To:</strong>
  <%= @sm.to %>
</p>

<p>
  <strong>From:</strong>
  <%= @sm.from %>
</p>

<p>
  <strong>Body:</strong>
  <%= @sm.body %>
</p>

<%= link_to 'Edit', edit_sm_path(@sm) %> |
<%= link_to 'Back', sms_path %>
